* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

header {
  width: 100%;
  height: auto;
  background-color: black;
}

#header_box {
  display: flex;
  width: 960px;
  height: 2.32rem;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin: 0.41rem 0.5rem;
}

.header_title {
  color: white;
  font-size: 1rem;
  margin: auto 0.5rem;
}

#arrival_box {
  display: block;
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
}

.arrival_content {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.arrival_text {
  position: relative;
  top: 9rem;
  width: 22rem;
  height: 9rem;
  display: block;
  background-color: black;
}

.arrival_text h2 {
  display: block;
  font-size: 1rem;
  margin-left: 3rem;
  padding-top: 2rem;
  font-weight: bold;
  color: white;
}

.arrival_text h3 {
  display: block;
  font-size: 1.75rem;
  margin-left: 3rem;
  padding-top: 0.25rem;
  font-weight: bold;
  color: white;
}
